
body {
}
.my-container {
  padding: 1.5em 2em;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .city-card {
    transition: .3s;
    cursor: pointer;
    padding:1em;
    border:1px solid rgba(163, 161, 161, 0.205);
    margin: 1em 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:300px;
    .image {
      max-width: 300px;
      
    }
    &:hover {
      transform:scale(1.1)
    }
  }
}

.my-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(106, 106, 106, 0.555);
  display: flex;
  align-items: center;
  justify-content: center;
  .m-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    background-color:white;
    padding: 2em;
    .modal-img img{
      max-height: 200px !important;
      width:auto;
    }
    h4,h2 {
      font-size: 1.5em;
    }
  }
  .fa-times {
    cursor: pointer;
    font-size: 1.3em;
    align-self: flex-end;
  }
  .weather-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width:150px;
      height:150px;
      border-radius: 50%;
    }
    
  }
} 

.my-loader{
  position: absolute;
  z-index: 8;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(32, 32, 32, 0.89);
  display: flex;
  align-items: center;
  justify-content: center;
}